<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta name="description" content="Hudson Woods - Where Design Meets Nature">
<meta name="keywords" content="Hudson Woods, hudson woods ny, New York Architecture, New York real estate">
<meta name="geo.region" content="US-NY" />
<meta name="geo.placename" content="Kerhonkson" />
<meta name="geo.position" content="41.884013;-74.320194" />
<meta name="ICBM" content="41.884013, -74.320194" />
<meta property="og:latitude" content="41.884013" />
<meta property="og:longitude" content="-74.320194" />
<meta property="og:street-address" content="1 Ridgewood Road" />
<meta property="og:locality" content="Kerhonkson" />
<meta property="og:region" content=“NY" />
<meta property="og:postal-code" content=“12446" />
<meta property="og:country-name" content="USA" />
<script type="text/javascript" src="//use.typekit.net/zfx0usa.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

{{ theme:css src="components.min" tag="true" }}
<link rel="shortcut icon" type="image/png" href="{{ theme:img src="favicon.ico" }}">

  <title>
    {{ _site_name }}
    {{ if segment_1 }}
    – {{ title }}
    {{ endif }}
  </title>

<!-- disqus embed code -->

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'HudsonWoodsNY'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>

</head>

 <body data-spy="scroll" data-target="#secondary-nav-list">

  <div class="body-wrapper">{{ layout_content }}</div>

  {{ theme:partial src="footer" }}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ theme:js src="scripts.min" }}"></script>

<!-- Google Code for Remarketing Tag -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 962001921;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/962001921/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>
</html>

