<section id="header-about" class="hero">
{{ theme:partial src="nav1" }}

<div class="slick-carousel" >
{{ heroImages }}

      <div class="hero landing" style="background-image: url( {{ image }} );">
      <div class="container scrollme">
        <div class="animateme" data-when="exit" data-from="0" data-to="0.55" data-opacity="0" data-translatey="100" style="opacity: 1; -webkit-transform: translate3d(0px, 100px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);">
    <h1>{{ headline }}</h1>
    {{ if subHeadline|not_empty }}
    <h3>{{ subHeadline }}</h3>
    {{ endif }}
        </div>

      </div>
    </div>

{{ /heroImages }}
</div>
{{ theme:partial src="nav_availability" }}
</section>
<section>
<div class="container">



        {{ entries:listing folder="about/makers" sort_dir="asc" }}

        <div class="makers">
        <a target=_blank href="{{ link }}">
            <img src="{{ image }}" alt="">
            <h3>{{ title }}</h3>
            <h4>{{ description }}</h4>

        </div>
        {{ /entries:listing }}
    </div>

</section>
