
<section id="header-homes" class="hero">
{{ theme:partial src="nav" }}

<div class="slick-carousel" >
{{ heroImages }}

      <div class="hero landing" style="background-image: url( {{ image }} );">
      <div class="container scrollme">
        <div class="animateme" data-when="exit" data-from="0" data-to="0.5" data-opacity="0" data-translatey="100" style="opacity: 1; -webkit-transform: translate3d(0px, 100px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);">
    <h1>{{ headline }}</h1>
    {{ if subHeadline|not_empty }}
    <h3>{{ subHeadline }}</h3>
    {{ endif }}
        </div>

      </div>
    </div>

{{ /heroImages }}
</div>
{{ theme:partial src="nav_homes" }}
</section>



<section id="location" class="hero content">
<a href="" class="anchor" id="location-anchor"></a>
<div class="container">
<div class="row">
	<div class="col-md-3">
			<h2>Home Locations</h2>
			<p>Encompassing 131 acres, Hudson Woods features 26 architect-designed dwellings meticulously crafted from local- ly-sourced, sustainable materials. Click below to view our initial sales offering</p>
	<a href="{{ homepage }}availability">See Availability</a>
	</div>
</div>
</div>
</section>


<section id="floor-plans" class="content">
<a href="" class="anchor" id="floor-plans-anchor"></a>
<div class="container">
<div class="row">
	<div class="col-md-3">
	<h2>Standard <br>Floor Plan</h2>
	<p>The standard floor plan is designed to get the most from the square footage whilst still feeling light and airy.</p>
	<p>Addional enhacements to the standard floorplan can be found in <a href="{{ homepage }}upgrades">Upgrades</a>.</p>
	</div>
	<div class="col-md-6 col-md-offset-1">
		<img src="_themes/main/img/Floorplans.png" alt="">
	</div>
	<div class="col-md-2">

			<h2>2,800</h2>
			<h4>SQFT</h4>
			<h2>3</h2>
			<h4>BEDROOMS</h4>
			<h2>2</h2>
			<h4>BATHS</h4>
			<h2>GARAGE / STUDIO</h2>
			<h4>+ CARPORT</h4>

	</div>
</div>
</div>
</section>


<section id="materials"  class="content">
<a href="" class="anchor" id="materials-anchor"></a>
<div class="container">
<div class="row">
	<div class="col-md-3">
		<h2>Colors &amp; Materials</h2>
		<p>The standard Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores accusantium tempore nobis, voluptates corporis tenetur nulla</p>
	</div>
	<div class="col-md-8 col-md-offset-1">
	
		
		<div class="col-sm-12 circle-wrapper">
			<div class="col-sm-3 large">
				<div class="circle-margin"></div>
				<div class="circle-tile black-cedar"><span class="white">Black Cedar</span></div>
			</div>
			<div class="col-sm-3 large">
				<div class="circle-margin"></div>
				<div class="circle-tile natural-cedar"><span class="white">Natural Cedar</span></div>
			</div>
		</div>
		<h4>Siding Materials</h4>
		
		<div class="col-sm-12 circle-wrapper">
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile opaque-white"><span>New Opaque White</span></div>
			</div>
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile campari-red"><span class="white">Campari Red</span></div>
			</div>
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile jade-porcelain"><span class="white">Jack Porecelain</span></div>
			</div>
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile mid-century-white"><span>Mid Century White</span></div>
			</div>
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile pomegranate"><span class="white">Pomegranate</span></div>
			</div>
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile jade-manganese"><span class="white">Jade Manganese</span></div>
			</div>
		</div>
		<h4>Kitchen Tile Colors</h4>
		
		
		<div class="col-sm-12 circle-wrapper">
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile slate-gray"><span class="white">New Opaque White</span></div>
			</div>
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile dark-gray"><span class="white">Campari Red</span></div>
			</div>
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile hartford-green"><span class="white">Jack Porecelain</span></div>
			</div>
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile antique-black"><span class="white">Mid Century White</span></div>
			</div>
			<div class="col-sm-2 circle">
				<div class="circle-margin"></div>
				<div class="circle-tile matte-black"><span class="white">Pomegranate</span></div>
			</div>
		</div>
		<h4>Roof Colors</h4>	
		
	
	</div>
</div>
</div>
</section>


<section id="finishes"  class="content">
<a href="" class="anchor" id="finishes-anchor"></a>
<div class="container">

<h2>Finishes &amp; Equpiment</h2>

<div class="row">
	<div class="col-md-4">
			<img src="_themes/main/img/Hand-Crafted-Icon.png" alt="">
			<h3>Hand Crafted Finishes</h3>
			<ul>
				{{ handCraftedFinishes }}
					<li>{{ text }}</li>
				{{ /handCraftedFinishes }}
			</ul>
	</div>	
		
	<div class="col-md-4 col-md-offset-1">
		<img src="_themes/main/img/Premium-Equip-icon.png" alt="">
		<h3>Premium Equipment</h3>
		<ul>
			{{ premiumEquipment }}
				<li>{{ text }}</li>
			{{ /premiumEquipment }}
		</ul>
	</div>
</div>

</div>
</section>

<section id="a-la-carte" class="content">
<a href="" class="anchor" id="a-la-carte-anchor"></a>
<div class="container">
<div class="row">
	<div class="wrapper-center col-md-8 col-md-offset-2">
		<h2>A La Carte Services</h2>
		<p>Each home features modern, eco-friendly design constructed from materials sourced from sur- rounding areas. The homes and site set new standards for design and sustainability excellence.</p>
	</div>
	<ul class="col-md-10 col-md-offset-1">
	{{ aLaCarte }}
		<li class="col-md-3">
			<img src="{{ image }}" alt="">
			<p>{{ text }}</p>
		</li>
	{{ /aLaCarte }}
	</ul>
</div>
</div>
</section>

<section id="gallery" class="content">
<a href="" class="anchor" id="gallery-anchor"></a>
	<div class="container">
		<h2>Image Gallery</h2>
		<div class="row">
		<div class="sp-wrap col-md-10 col-md-offset-1">
			{{ image_gallery }}
		    <a class="" href="{{ image }}"><img src="{{ image }}" alt=""></a>
			{{ /image_gallery }}
		</div>

	</div>
</section>

