
<section id="header-in-the-area" class="hero">
{{ theme:partial src="nav" }}

<div class="slick-carousel" >
{{ heroImages }}

      <div class="hero landing" style="background-image: url( {{ image }} );">
      <div class="container scrollme">
        <div class="animateme" data-when="exit" data-from="0" data-to="0.55" data-opacity="0" data-translatey="100" style="opacity: 1; -webkit-transform: translate3d(0px, 100px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);">
    <h1>{{ headline }}</h1>
    {{ if subHeadline|not_empty }}
    <h3>{{ subHeadline }}</h3>
    {{ endif }}
        </div>

      </div>
    </div>

{{ /heroImages }}
</div>
{{ theme:partial src="nav_in-the-area" }}
</section>



<div id="map">
   <a href="" class="anchor in-the-area" id="in-the-area-anchor"></a>
</div>

<section class="area-tiles">
<div class="container">
    <div class="col-md-10 col-md-offset-1 content">


        {{ entries:listing folder="in-the-area" sort_dir="asc" }}

<div class="col-md-6">
    <div class="tile area {{ activity|lower|slugify }}">
        <h4>{{ activity }}</h4>
        <h2>{{ title }}</h2>
        <img src="{{ image }}" alt="">
        {{ content }}
    </div>
</div>
        {{ /entries:listing }}
    </div>
</div>
</section>

</script>
