{{ theme:partial src="nav_unsticky" }}



			{{ entries:listing folder="blog" sort_dir="desc" limit="1" }}
				{{ if no_results }}
					<p class="sorry">
						No journal posts have been posted yet.<br>
						Check back soon.
					</p>
				{{ else }}
					{{ theme:partial src="journal-featured" use_context="true" }}
				{{ endif }}
			{{ /entries:listing }}



<section>
	<div class="container">
		<div class="col-md-7">
			<div class="blog-title-section">
				<h4>LATEST ENTRIES</h4>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<div class="blog-title-section">
				<h4>OTHER NEWS</h4>
			</div>
		</div>

		<div class="row blog-main">

			<div class="col-md-7">
				{{ theme:partial src="journal-listings" use_context="true" }}
			</div>

			<div class="col-md-4 col-md-offset-1">
				<div class="blog-content title-region secondary">
				<div class="tweets">
					{{ bluebird screen_name="HudsonWoodsNY" count="5" }}
				        {{ user }}
				            <div class="follow">
				                <a href="https://twitter.com/{{ screen_name }}">
				                    <img src="{{ profile_image_url }}" alt="{{ screen_name }} on Twitter">
				                    <span>Follow Hudson Woods on Twitter</span>
				                </a>
				            </div>
				        {{ /user }}
				        {{ tweets }}
				            <div class="tweet">
				                <p>{{ text }}</p>
				                <p>
				                    <small>
				                        <a href="{{ tweet_url }}">{{ created_at format="g:i A, F jS, Y" }}</a>
				                    </small>
				                </p>
				            </div>
				        {{ /tweets }}
					{{ /bluebird }}
				</div>
				</div>


				<div class="blog-title-section">
					<h4>BLOG AUTHORS</h4>
				</div>
				<div class="blog-content title-region taxonomy">
				    {{ taxonomy:listing folder="blog" type="author" }}
				        <li><a href="{{ url }}">{{ name }}</a></li>     
				    {{ /taxonomy:listing }}
				</div>
				


			</div>

		</div>
	</div>
</section>