{{ theme:partial src="nav_unsticky" }}


<section class="blog-entry">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="blog-title-section">
					<h4 class="categories categories-entry">{{ if categories_list }}
		         {{ categories_url_list }}
		        {{ endif }}</h4>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<div class="blog-title-section">
					<h4>OTHER NEWS</h4>
				</div>
			</div>
		</div>

		<div class="row blog-main">

			<div class="col-md-7">
				<div class="title-region main">
				<a href="{{ url }}"><h2>{{ title }}</h2></a>
					{{ if date }}
					<p class="publish-details"><time pubdate datetime="{{ datestamp format="Y-m-d" }}">Posted on {{ date }}</time> 
						by <a class="taxonomy" href="{{ homepage }}blog/author/{{ author }}">{{ author }}</a>

					</p>
	            	{{ endif }}
	            </div>
				
				<div class="blog-content">
					{{ if videoEmbed|not_empty }}
					<div class="video">
						{{ videoEmbed }}
					</div>
					{{ endif }}
					{{ content }}
					<div id="disqus_thread"></div>
					<script type="text/javascript">
					    /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
					    var disqus_shortname = 'HudsonWoodsNY'; // Required - Replace example with your forum shortname
					    var disqus_identifier = '{{ title|lower|slugify }}';
					    var disqus_title = '{{ title }}';

					    /* * * DON'T EDIT BELOW THIS LINE * * */
					    (function() {
					        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					    })();
					</script>
						<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
						<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
				</div>
			</div>

			<div class="col-md-4 col-md-offset-1">
				<div class="blog-content title-region secondary">
				<div class="tweets">
					{{ bluebird screen_name="HudsonWoodsNY" count="5" }}
				        {{ user }}
				            <div class="follow">
				                <a href="https://twitter.com/{{ screen_name }}">
				                    <img src="{{ profile_image_url }}" alt="{{ screen_name }} on Twitter">
				                    <span>Follow Hudson Woods on Twitter</span>
				                </a>
				            </div>
				        {{ /user }}
				        {{ tweets }}
				            <div class="tweet">
				                <p>{{ text }}</p>
				                <p>
				                    <small>
				                        <a href="{{ tweet_url }}">{{ created_at format="g:i A, F jS, Y" }}</a>
				                    </small>
				                </p>
				            </div>
				        {{ /tweets }}
					{{ /bluebird }}
				</div>
				</div>


				<div class="blog-title-section authors">
					<h4>BLOG AUTHORS</h4>
				</div>
				<div class="blog-content">
					<div class="author-wrapper">
						<div class="row">
							<a href="{{ homepage }}blog/author/brittainstone">
							<div class="col-xs-2">
								<img src="../_themes/main/img/avatars/4.thumbnail.jpg" alt="">
							</div>
							<div class="col-xs-10">BITTAIN STONE<span>Brittain Stone is a denizen of Manhattan and a weekender in the hamlet of Accord. He champions the Hudson Valley and is particularly fond of its plant life.</span></div></a>
						</div>
						<div class="row">
							<a href="{{ homepage }}blog/author/drewlang">
							<div class="col-xs-2">
								<img src="../_themes/main/img/avatars/5.thumbnail.jpg" alt="">
							</div>
							<div class="col-xs-10">DREW LANG<span>Drew Lang is the founder, architect and developer of Hudson Woods. Drew is also the principal of <a style="text-decoration: underline; font-size: 12px" href="http://langarchitecture.com">Lang Architecture.</a></span></div></a>
						</div>
						<div class="row">
							<a href="{{ homepage }}blog/author/hudsonwoods">
							<div class="col-xs-2">
								<img src="../_themes/main/img/avatars/hw.jpg" alt="">
							</div>
							<div class="col-xs-10">HUDSON WOODS</div></a>
						</div>
					</div>
				</div>
				
<!-- {{ categories_url_list }} -->

			</div>

		</div>
	</div>
</section>

