{{ theme:partial src="nav_unsticky" }}


<section class="blog-entry">
	<div class="container">
		<div class="col-md-7">
			<div class="blog-title-section">
				<h4></h4>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<div class="blog-title-section">
				<h4>OTHER NEWS</h4>
			</div>
		</div>

		<div class="row blog-main">

			<div class="col-md-7">
				<div class="title-region main">
				<a href="{{ url }}"><h2>{{ title }}</h2></a>
					{{ if date }}
					<p class="publish-details"><time pubdate datetime="{{ datestamp format="Y-m-d" }}">Posted on {{ date }}</time> 
						by <a class="taxonomy" href="{{ homepage }}blog/author/{{ author }}">{{ author }}</a>

					</p>
	            	{{ endif }}
	            </div>
				
				<div class="blog-content">
					{{ if videoEmbed|not_empty }}
					<div class="video">
						{{ videoEmbed }}
					</div>
					{{ endif }}
					{{ content }}
					
				</div>
			</div>

			<div class="col-md-4 col-md-offset-1">
				<div class="blog-content title-region secondary">
				<div class="tweets">
					{{ bluebird screen_name="HudsonWoodsNY" count="5" }}
				        {{ user }}
				            <div class="follow">
				                <a href="https://twitter.com/{{ screen_name }}">
				                    <img src="{{ profile_image_url }}" alt="{{ screen_name }} on Twitter">
				                    <span>Follow Hudson Woods on Twitter</span>
				                </a>
				            </div>
				        {{ /user }}
				        {{ tweets }}
				            <div class="tweet">
				                <p>{{ text }}</p>
				                <p>
				                    <small>
				                        <a href="{{ tweet_url }}">{{ created_at format="g:i A, F jS, Y" }}</a>
				                    </small>
				                </p>
				            </div>
				        {{ /tweets }}
					{{ /bluebird }}
				</div>
				</div>


				<div class="blog-title-section">
					<h4>BLOG AUTHORS</h4>
				</div>
				<div class="blog-content title-region">
				    {{ taxonomy:listing folder="blog" type="author" }}
				        <li><a href="{{ url }}">{{ name }}</a></li>     
				    {{ /taxonomy:listing }}
				</div>
				
<!-- {{ categories_url_list }} -->

			</div>

		</div>
	</div>
</section>

