{{ theme:partial src="nav_unsticky" }}


<section id="blog-entry">
	<div class="container">

		<div class="row blog-title-section">
			<div class="col-md-7 col-md-offset-1">

					<h4>LATEST ENTRIES</h4>

			</div>

<!-- 			<div class="col-md-4 col-md-offset-1">
				<h4>OTHER NEWS</h4>
			</div> -->
		</div>

		<div class="row blog-main">

			<div class="col-md-10 col-md-offset-1">
				{{ theme:partial src="journal-listings" use_context="true" }}
			</div>

<!-- 			<div class="col-md-4 col-md-offset-1">
				<div class="tweets">
					{{ bluebird screen_name="HudsonWoodsNY" count="5" }}
				        {{ user }}
				            <div class="follow">
				                <a href="https://twitter.com/{{ screen_name }}">
				                    <img src="{{ profile_image_url }}" alt="{{ screen_name }} on Twitter">
				                    <span>Follow Hudson Woods on Twitter</span>
				                </a>
				            </div>
				        {{ /user }}
				        {{ tweets }}
				            <div class="tweet">
				                <p>{{ text }}</p>
				                <p>
				                    <small>
				                        <a href="{{ tweet_url }}">{{ created_at format="g:i A, F jS, Y" }}</a>
				                    </small>
				                </p>
				            </div>
				        {{ /tweets }}
					{{ /bluebird }}
				</div>
			</div> -->

		</div>
	</div>
</section>