{{ theme:partial src="nav-content" }}

<section class="portfolio-page">
	<div class="container">
		<div class="fixed-header-text">
			<div class="container">
				<div class="fixed-header-left">
					{{ if fixedHeaderText|not_empty }} 
					{{ fixedHeaderText }}
					
					{{ endif }}
					<div class="divider"></div>
				</div>
				<div class="fixed-header-right">
					{{ categories }}
					 <p> {{ value|title }}</p>
					{{ /categories }}
				</div>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="portfolio-content">
		{{ if videoEmbed|not_empty }}
		<div class="video-wrapper">
			{{ videoEmbed }}
		</div>
		{{ endif }}
		{{ content }}
		</div>
	</div>

</section>
