
{{ theme:partial src="nav_unsticky" }}

<div class="details">
  <div class="container">

  
    
      <div class="row">

        <div class="col-md-8 col-md-offset-2">
        <div class="redirect">
        <h3 style="margin-bottom: 20px;">Thanks for you interest in Hudson Woods. </h3>
        <h4>A member of the Hudson Woods team will be in touch shortly.</h4>
        <br>
          <a class="button" href="{{ homepage }}contact" id="redirect">Back to Contact</a>
          
        </div>


  
      </div>
    </div>
  </div>
</div>