{{ if taxonomy_slug }}

{{ theme:partial src="nav_unsticky" }}
<section class="blog-entry">
	<div class="container">

		<div class="row blog-title-section">
			<div class="col-md-8">

					<h4></h4>

			</div>

			<div class="col-md-4">
				<h4>BLOG AUTHORS</h4>
			</div>
		</div>

		<div class="row blog-main">

			<div class="col-md-8">
			{{ entries:listing folder="blog" taxonomy="true" }}
				{{ if no_results }}
					{{ redirect url="/404" }}
				{{ else }}

				<div class="blog-content title-region listings">
					<div class="row">
						<div class="col-md-5">
							<a href="{{ url }}">
								<img class="featured" src="{{ transform
								  src="{ featuredImage }"
								  width="300"
								  height="300"
								  action="smart"
								}}" />
							</a>
						</div>
						<div class="col-md-7">
							<div class="categories small">
								{{ if categories_list }}
						          <span>{{ categories_url_list }}</span>
						        {{ endif }}
						    </div>
					        <a class="title" href="{{ url }}"><h3>{{ title }}</h3></a>
							{{ if date }}
							 <p class="publish-date"><time pubdate datetime="{{ datestamp format="Y-m-d" }}">Posted on {{ date }}</time> by <a href="{{ homepage }}blog/author/{{ author }}">{{ author }}</a>
							 {{ endif }}
							{{ contentSummary }}
							<span style="margin-right: 5px;">...</span><a href="{{ url }}">Continue Reading <i class="fa fa-chevron-right"></i></a>
						</div>
					</div>
				</div>

				{{ endif }}
			{{ /entries:listing }}
			</div>
		

			<div class="col-md-4">
<!-- 				<div class="tweets">
					{{ bluebird screen_name="HudsonWoodsNY" count="5" }}
				        {{ user }}
				            <div class="follow">
				                <a href="https://twitter.com/{{ screen_name }}">
				                    <img src="{{ profile_image_url }}" alt="{{ screen_name }} on Twitter">
				                    <span>Follow Hudson Woods on Twitter</span>
				                </a>
				            </div>
				        {{ /user }}
				        {{ tweets }}
				            <div class="tweet">
				                <p>{{ text }}</p>
				                <p>
				                    <small>
				                        <a href="{{ tweet_url }}">{{ created_at format="g:i A, F jS, Y" }}</a>
				                    </small>
				                </p>
				            </div>
				        {{ /tweets }}
					{{ /bluebird }}
				</div> -->
				<div class="blog-content title-region">
				    {{ taxonomy:listing folder="blog" type="author" }}
				        <li><a href="{{ url }}">{{ name }}</a></li>     
				    {{ /taxonomy:listing }}
				</div>
			</div>

		</div>
	</div>
</section>



<!-- {{ entries:listing folder="blog" limit="10" taxonomy="true" }}
	{{ if no_results }}
		{{ redirect url="/404" }}
	{{ else }}
		<div class="block entry">
			<header>
				<h2 class="entry-title"><a href="{{ url }}">{{ title }}</a></h2>
				<p class="entry-date"> {{ datestamp format="F jS, Y" }}</p>
			</header>
			{{ content }}
		
			{{ if categories }}
			<p class="entry-meta"> Filed under {{ categories_url_list }}.</p>
			{{ endif }}
		</div>
	{{ endif }}
{{ /entries:listing }}

{{ entries:pagination folder="blog" limit="10" taxonomy="yes" }}
<div class="pagination">
  {{ if previous_page }}
    <a href="{{ previous_page }}">Previous Page</a>
  {{ endif }}
  {{ if next_page }}
    <a href="{{ next_page }}">Next Page</a>
  {{ endif }}
</div>
{{ /entries:pagination }}

{{ else }}

<div class="row">
  <div class="span12">
      <h1>Categories</h1>
      {{ content }}
    </div>
</div>



	{{ entries:listing folder="blog" sort_dir="desc" paginate="true" taxonomy="true" limit="10" }}
		{{ if no_results }}
			<p class="sorry">
				No journal posts have been posted yet.<br>
				Check back soon.
			</p>
		{{ else }}
			{{ theme:partial src="journal-entry"}}
		{{ endif }}
	{{ /entries:listing }}

{{ endif }}
