<section id="header-upgrades" class="hero">
{{ theme:partial src="nav" }}

<div class="slick-carousel" >
{{ heroImages }}

      <div class="hero landing" style="background-image: url( {{ image }} );">
      <div class="container scrollme">
        <div class="animateme col-md-8 col-md-offset-2" data-when="exit" data-from="0" data-to="0.55" data-opacity="0" data-translatey="100" style="opacity: 1; -webkit-transform: translate3d(0px, 100px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);">
    <h1>{{ headline }}</h1>
    {{ if subHeadline|not_empty }}
    <h3>{{ subHeadline }}</h3>
    {{ endif }}
        </div>

      </div>
    </div>

{{ /heroImages }}
</div>
{{ theme:partial src="nav_upgrades" }}
</section>



<!-- <div id="map"></div> -->

<section id="upgrades">
  <div class="container">

<div class="row">{{ entries:listing folder="upgrades/entries" sort_dir="asc" }}
  <div class="col-sm-4">
    <div class="upgrades all {{ categories_spaced_list }}">
  <a href="{{ url }}">
    <img src="{{ previewImage }}" alt="">
    <h3>{{ title }}</h3>
    {{ summary }}
    {{ categories }}
  </a>
    </div>
  </div>
    {{ /entries:listing }}</div>

  </div>

</section>
