
{{ theme:partial src="nav_unsticky" }}

<div class="details">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-7 ">
				<a href="{{ homepage }}upgrades#upgrades-anchor"><i class="fa fa-chevron-left"></i>Back To Upgrades</a>
			</div>
		</div>
	
		<div class="details-entry">
			<div class="row">
				
				<div class="col-md-6">
					<div class="sp-wrap">
						{{ imageGallery }}
							<a href="{{ image }}"><img src="{{ image }}" alt=""></a>
						{{ /imageGallery }}
					</div>
				</div>
	
				<div class="col-md-5 col-md-offset-1">
					
					<div class="specs upgrade-details">
						<h2>{{ title }}</h2>
						<h4>Specifications</h4>
						<div class="row">
							<div class="col-md-9">
								<ul>
								{{ specs }}
									<li>{{ text }}</li>
								{{ /specs }}
								</ul>

							</div>
						
						</div>
						<p>Cost:</p>
						<p>{{ cost }}</p>
					</div>
					
					<a target=_blank href="{{ specDownload }}" class="download-spec"><i class="fa fa-arrow-down"></i>Download Specs</a>
					
				</div>
			</div>
		</div>
	</div>
</div>
