
{{ theme:partial src="nav_unsticky" }}

<div class="details">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-7 ">
				<a href="{{ homepage }}upgrades#upgrades-anchor"><i class="fa fa-chevron-left"></i>Back To Upgrades</a>
			</div>
		</div>
	
		<div class="details-entry">
			<div class="row">
				
				<div class="col-md-6">
				{{ if imageSingle|not_empty }}
				<img src="{{ imageSingle }}" alt="">
				{{ endif }}
					
				{{ if imageGallery|not_empty }}
				<div class="sp-wrap">
					{{ imageGallery }}
						<a href="{{ image }}"><img src="{{ image }}" alt=""></a>
					{{ /imageGallery }}
				</div>
				{{ endif }}
				</div>
	
				<div class="col-md-5 col-md-offset-1">
					
					<div class="specs">
						<h2>{{ title }}</h2>
						<h4>Specifications</h4>
						<div class="row">
							<div class="col-md-9">
								<ul>
								{{ specs }}
									<li>{{ text }}</li>
								{{ /specs }}
								</ul>
							</div>
						</div>
					<div class="costs">
						<h4>Cost</h4>
						<h4>{{ cost }}</h4>
					</div>
					</div>
					
					<a class="button" target=_blank href="{{ specDownload }}" class="download-spec"><i class="fa fa-arrow-down"></i>Download Specs</a>
					
				</div>
			</div>
		</div>
	</div>
</div>
