<section id="header-upgrades" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -300px;"
        data-anchor-target="#header-availability">
          {{ theme:partial src="nav1" }}
        <div class="hsContainer">
        <div class="parallax-container">
           <h1>Upgrades</h1>   
           <h3>Choose from the following list of curated features to make the most of your house, land &amp; property</h3>
         </div>
        </div>
    </div>
</section>

<!-- <div id="map"></div> -->

<section>
<div class="container">



        {{ entries:listing folder="upgrades" sort_dir="asc" }}

        <div class="upgrades">
        <a href="{{ url }}">
            <img src="{{ previewImage }}" alt="">
            <h3>{{ title }}</h3>
            <p>{{ summary }}</p>
        
        </div>
        {{ /entries:listing }}
    </div>

</section>