


#header-availability .bcg {
	background-image: url("../img/Smartdes-Section-image-2000x1500.jpg");
}



.mfp-bg {
	opacity: .9;
}

.mfp-title {
	padding: 10px 0 0;
	font-weight: 300;
	font-size: 10px;
	line-height: 16px;
}

.info-links.availability {
	.col-md-6 {
		padding-left: 0;
	}
	.fa {
		margin-right: 10px;
	}
}

