
#location {
	background-image: url("../img/Location-Map.jpg");
	border-bottom: 1px solid lighten($beige,10%);
	margin-bottom: 0;
	text-align: left;
	// .wrapper {
	// 	@include span (first 3);
	// }
	h2,p,a {
		margin-bottom: 30px;
	}
	h2 {
		margin-top: 50px;
	}
	a {
		@include transition(.15s);
		background-color: $inactive-gray;
		color: white;
		padding: 10px 40px;
		border-radius: 5px;
		&:hover {
			background-color: darken($inactive-gray, 3%);
		}
	}
}


.homes-content {
	padding: 100px 0;
}

.homes-intro {

}



#floor-plans  {
	h2,p {
		margin-bottom: 30px;
	}
	h3,h4 {
		text-align: center;
	}
	a {
		text-decoration: underline;
		@include transition(.15s);
		&:hover {
			color: darken($base-font-color,10%);
		}
	}
	h3 {
		font-size: 50px;
		border-top: 1px solid $base-font-color;
		padding-top: 20px;
	}
	h4 {
		font-size: 20px;
		padding-bottom: 40px;
	}
}

#materials {
	background-color: $lighter-beige;
	h2,p {
		margin-bottom: 30px;
	}
	.circle {
		position: relative;

	}
	.large {
		.circle-tile {
			width: 165px;
		}
	}
	.col-sm-12 {
		padding-left: 0;
	}
	.col-sm-3.large {
		padding-left: 5px;
		padding-right: 5px;
	}
	.col-sm-2.circle {
		padding-left: 5px;
		padding-right: 5px;
	}
	.circle-tile {
		width: 107px;
	}
	.circle-margin {
		margin-top: 100%;
	}
	.circle-wrapper {
		margin: 0 0 35px;
	}
	.circle-absolute-wrapper {
		display: block;
	}
	.circle-tile {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    text-align: center;
		max-width: 100%;
	    span {
	    	text-align: center;
	    	padding: 0 5px;
	    	font-size: 12px;
		    &.white {
		    	color: white;
		    }
	    }
	}

	h4 {
		clear: left;
		clear: right;
	}
	.black-cedar {
		background-image: url("../img/black-cedar.jpg");
		background-position: center center;
		background-size: cover;
		height: 100%;
		width: 100%;
	}
	.natural-cedar {
		background-image: url("../img/natural-cedar.jpg");
		background-position: center center;
		background-size: cover;
		height: 100%;
		width: 100%;
	}
	.opaque-white {
		background-color: #dedfdf;
	}
	.campari-red {
		background-color: #a90605;
	}
	.jade-porcelain {
		background-color: #466346;
	}
	.mid-century-white {
		background-color: #d7dee2;
	}
	.pomegranate {
		background-color: #862928;
	}
	.jade-manganese {
		background-color: #004667;
	}
	.slate-gray {
		background-color: #828380;
	}
	.dark-gray {
		background-color: #797b79;
	}
	.hartford-green {
		background-color: #34524a;
	}
	.antique-black {
		background-color: #5a5854;
	}
	.matte-black {
		background-color: #232829;
	}

}

#finishes {
	// background-color: $lighter-beige;
	// border-bottom: 1px solid lighten($beige,10%);
	// .wrapper {
	// 	@include span(4);
	// 	&:last-of-type {
	// 		@include pre(1);
	// 	}
	// }
	h2 {
		margin-bottom: 60px;
	}
	img, h3,li {
		margin-bottom: 20px;
	}
	h3 {
		font-size: 20px;
		// font-weight: 600;
	}
	li {
		font-size: 20px;
		margin-bottom: 18px;
		line-height: 24px;
		display: block;
	}
	// .finish-list {
	// 	@include pre(2);
	// 	@include span(4);
	// }
	// .premium-equipment {
	// 	@include pre(1);
	// 	@include span(4)
	// }
}

#a-la-carte {
	background-color: $lighter-beige;
	// border-bottom: 1px solid lighten($beige,10%);
	.wrapper-center {
		text-align: center;
		// @include pre(2);
		// @include span(8);
	}
	p {
		text-align: left;
		margin: 30px 0 60px;
	}
	ul {
		// margin-top: 60px;
		// @include pre(1);
		// @include span(10);
	}
	li {
		// @include gallery(3 of 12);
		&.col-md-3:nth-child(4n+5) {
			clear: both;
		}
		text-align: center;
		p {
			// @include pre(2);
			// @include span(8);
			font-family: $headline-font;
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 50px;
			margin-top: 10px;
			text-align: center;
		}
		img {
			display: block;
			text-align: center;
			margin: 0 auto 0;
		}
	}
}

#gallery {
	
	h2 {
		text-align: center;
		margin-bottom: 40px;
	}
	// background-color: $lighter-beige;
	.sp-wrap {
		// @include pre(1);
		// @include span(10);
	}
}

.sp-thumbs a:link, .sp-thumbs a:visited {
		opacity: 1;
}

.sp-wrap {
	// margin: 60px auto 30px;
	background-color: transparent;
}

.sp-thumbs  {
		// @include span(full);
		margin-top: 20px;
		border-top: none;
		a {
			padding-left: 5px;
			padding-right: 5px;
			max-width: 10%;
			&:first-child {
				padding-left: 0;
			}
			

		}
		img {
			height: auto;
			width: 100%;
			margin-bottom: 20px;
		}
}

.sp-large a  {
	pointer-events:none;
	img {
		cursor: default;
	}
}

.sp-current:after {
	content: '';
	border: 6px solid transparent;
	border-top: 6px solid $beige;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -6px;
}
