#header-upgrades {
	// margin-bottom: -40px;
	.animateme {
		// @include pre(2);
		// @include span(8);
		text-align: center;
	}
	.slick-slider {
		margin-bottom: 0;
	}
	.hero-landing {
		position: absolute;
		top: 0;
		left: 0;
	}
}

// #header-upgrades ~ div {
// 	background-color: $dark-gray;
// 	z-index: 9999;
// 	width: 100%;
// }
//
// #slideshow {
// 	width: 100%;
// 	height: 100%;
// 	z-index: 1111;
//
// }
//
// #slideshow > div {
// 	// position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// }
//
//
// .slideshow-image {
// 	background-size: cover;
// 	background-position: 50% 50%;
// }

#upgrades {
	.col-sm-4:nth-child(3n+4) {
		clear: both;
	}
	padding-top: 20px;
	background-color: $lighter-gray;
	a:hover .mask-overlay {
		background-color: rgba(black,.2);
	}
	.mask {
		width: 100%;
		height: 200px;
		.mask-overlay {
			height: 200px;
			display: block;
			z-index: 999;
			@include transition(.2s);
			background-color: rgba(black,0);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			margin-left: 15px;
			margin-right: 15px;
		}
		.masked-image {
			display: block;
			background-position: center center;
			background-size: cover;
			height: 100%;
			height: 200px;
		}
	}
	.upgrade-details {
		background-color: #fff;
		padding-bottom: 30px;
	}
}
.upgrades {

	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
	text-align: center;
	img {
		width: 100%;
	}
	a {
		display: block;
	}
	h1 {
		text-transform: uppercase;
	}
	h3 {
		font-size: 32px;
		padding: 30px 0 10px;
		margin-top: 0;
	}
	p {
		margin-left: 20px;
		margin-right: 20px;
	}
	// &:nth-child(3n+3) {
	// 	margin-right: -100%;
	// 	clear: none;
	// }
	// @include gallery (4 of 12);
}

.details-entry {
	padding-top: 20px;
	.col-md-5 {
		padding-left: 0;
		a:first-of-type {
			padding-bottom: 20px;
		}
	}
	a.download-spec {
		@include transition(.15s);
		background-color: $inactive-gray;
		color: white;
		padding: 10px 40px !important;
		border-radius: 5px;
		margin-bottom: 60px;
		display: inline-block;
		&:hover {
			background-color: darken($inactive-gray, 3%);
		}
	}
}
.details-image {
	.sp-wrap {
		margin-top: 0;
	}
	img {
		max-width: 100%;
	}
}

.details {
	padding-top: 160px;
	.col-md-5 {
		padding-left: 0;
		i {
			margin-right: 10px;
		}
	}
}
.specs {
	border-top: 2px solid $dark-gray;
	border-bottom: 2px solid $dark-gray;
	padding: 20px 0;
	margin-bottom: 60px;
	h2 {
		font-size: 36px;
	}
	h3 {
		margin: 20px 0 10px;
	}
	h4 {
		margin: 20px 0;
		font-weight: 700;
	}
	.col-md-9 {
		display: block;
	}
	p:first-of-type {
		font-size: 18px;
		font-weight: 700;
	}
	&.availability {
		h2 {
			font-size: 34px;
			font-weight: 700;
		}
		ul {
			p {
				margin-top: 20px;
			}
			list-style-type: none;
			li {
				margin-left: 0;
				font-weight: 600;
				span{
					font-weight: 400;
				}
			}
		}
	}
	ul {
		display: block;
		list-style-type: disc;
		li {
			font-size: 15px;
			font-weight: 500;
			margin-bottom: 10px;
			line-height: 24px;
			letter-spacing: 1px;
			margin-left: 18px;
			display: list-item;

		}
	}
	a {
		display: block;
		margin-top: 20px;
		i {
			margin-right: 13px;
		}
	}
}

.upgrade-details {
	margin-bottom: 30px;
}
