<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta name="description" content="Hudson Woods - Where Design Meets Nature">
<meta name="keywords" content="Hudson Woods, hudson woods ny, New York Architecture, New York real estate">
<meta name="geo.region" content="US-NY" />
<meta name="geo.placename" content="Kerhonkson" />
<meta name="geo.position" content="41.884013;-74.320194" />
<meta name="ICBM" content="41.884013, -74.320194" />
<meta property="og:latitude" content="41.884013" />
<meta property="og:longitude" content="-74.320194" />
<meta property="og:street-address" content="1 Ridgewood Road" />
<meta property="og:locality" content="Kerhonkson" />
<meta property="og:region" content=“NY" />
<meta property="og:postal-code" content=“12446" />
<meta property="og:country-name" content="USA" />
<script type="text/javascript" src="//use.typekit.net/zfx0usa.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="icon" type="image/png" href="favicon.ico">

{{ theme:css src="main" tag="true" }}
<script src="{{ theme:js src="modernizr.min" }}"></script>
<link rel="icon" type="image/png" href="{{ theme:img src="favicon.png" }}" />

  <title>
    {{ _site_name }}
    {{ if segment_1 }}
    – {{ title }}
    {{ endif }}
  </title>

</head>

 <body data-spy="scroll" data-target="#secondary-nav-list">


  {{ layout_content }}

{{ theme:partial src="footer" }}

  <!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
  <script src="{{ theme:js src="jquery" }}"></script>
  <script src="{{ theme:js src="main" }}"></script>

</body>
</html>
