
	<nav id="secondary-nav">
		<div class="container">
			<div id="secondary-nav-list">
				<ul id="homes" class="nav">
					<li><a class="scroll" href="#header-homes"></a></li>
					<li><a class="scroll" href="#location-anchor">Location</a></li>
					<li><a class="scroll" href="#floor-plans-anchor">Floor Plans</a></li>
					<li><a class="scroll" href="#materials-anchor">Colors &amp; Materials</a></li>
					<li><a class="scroll" href="#finishes-anchor">Finishes</a></li>
					<li><a class="scroll" href="#a-la-carte-anchor">Services</a></li>
					<li><a class="scroll" href="#gallery-anchor">Gallery</a></li>
				</ul>
			</div>
		</div>
	</nav>
