<nav id="secondary-nav">
  <div class="container">
    <ul id="in-the-area" class="secondary-nav">
        <button class="markers" id="all">All</button>
        <button class="markers" id="sleep">Sleep</button>
        <button class="markers" id="eat">Eat</button>
        <button class="markers" id="sip">Sip</button>
        <button class="markers" id="culture">Culture</button>
        <button class="markers" id="swing">Swing</button>
        <button class="markers" id="ski">Ski</button>
        <button class="markers" id="swim">Swim</button>
        <button class="markers" id="pick-and-grow">pick &amp; grow</button>
        <button class="markers" id="trails">Trails</button>
        <button class="markers" id="mind-and-body">Mind &amp; Body</button>
    </ul>
  </div>
</nav>
