<nav id="secondary-nav">
<div class="container">
  <ul id="upgrades-nav" class="secondary-nav">
      <li><a id="all" href="">All</a></li>
      <li><a id="house" href="">House</a></li>
      <li><a id="site" href="">Site</a></li>
      <li><a id="land" href="">Land</a></li>
      <li><a id="equpiment" href="">equipment</a></li>
      <!-- <button id="all">All</button>
      <button id="house">House</button>
      <button id="site">Site</button>
      <button id="land">Land</button>
      <button id="equipment">Equipment</button> -->
  </ul>
</div>

</nav>
