
<nav id="secondary-nav" class="map-nav">
  <div class="container">
    <ul id="in-the-area" class="secondary-nav">
        <li><a class="scroll markers" href="#in-the-area-anchor" id="all">all</a></li>
        <li><a class="scroll markers" href="#in-the-area-anchor" id="sleep">Sleep</a></li>
        <li><a class="scroll markers" href="#in-the-area-anchor" id="eat">eat</a></li>
        <li><a class="scroll markers" href="#in-the-area-anchor" id="sip">sip</a></li>
        <li><a class="scroll markers" href="#in-the-area-anchor" id="culture">culture</a></li>
        <li><a class="scroll markers" href="#in-the-area-anchor" id="swing">swing</a></li>
        <li><a class="scroll markers" href="#in-the-area-anchor" id="ski">ski</a></li>
        <li><a class="scroll markers" href="#in-the-area-anchor" id="swim">swim</a></li>
        <li><a class="scroll markers" href="#in-the-area-anchor" id="pick-and-grow">pick &amp; grow</a></li>
        <li><a class="scroll markers" href="#in-the-area-anchor" id="trails">trails</a></li>
        <li><a class="scroll markers" href="#in-the-area-anchor" id="mind-and-body">mind &amp; body</a></li>
    </ul>
  </div>
</nav>

