
<nav id="secondary-nav">
	<div class="container">
	<ul id="upgrades-nav" class="secondary-nav nav" role="tablist">
			<li class="active upgrades-scroll"><a href="#all" role="tab" data-toggle="tab">All</a></li>
			<li><a class="upgrades-scroll" href="#house" role="tab" data-toggle="tab">House</a></li>
			<li><a class="upgrades-scroll" href="#site" role="tab" data-toggle="tab">Site</a></li>
			<li><a class="upgrades-scroll" href="#land" role="tab" data-toggle="tab">Land</a></li>
			<li><a class="upgrades-scroll" class="scroll" href="#equipment" role="tab" data-toggle="tab">equipment</a></li>
		</ul>
	</div>
</nav>

