// @include parallax-init;


// .homes {
//     @include parallax(-.9);
//     top: 0;
// 	margin: 0;
// 	padding: 0;
// 	height: 600px;
// 	h1 {
// 		@include vertical-align;
// 		text-align: center;
// 		margin: 0;
// 	}
// }

#location {
	background-image: url("../img/Location-Map.jpg");
	margin-bottom: 0;
	text-align: left;
	.wrapper {
		@include span (first 3);
	}
	h2,p,a {
		margin-bottom: 30px;
	}
	h2 {
		margin-top: 50px;
	}
	a {
		@include transition(.15s);
		background-color: $inactive-gray;
		color: white;
		padding: 10px 40px;
		border-radius: 5px;
		&:hover {
			background-color: darken($inactive-gray, 3%);
		}
	}
}








#map { height: 600px; }

.homes-content {
	padding: 100px 0;
}

.homes-intro {

}

// #header-homes  {
// 	background-image: url("../img/Smartdes-Section-image-2000x1500.jpg");
// }
//
// #header-availability  {
// 	background-image: url("../img/Smartdes-Section-image-2000x1500.jpg");
// }
//
// #header-about  {
//     background-image: url("../img/Smartdes-Section-image-2000x1500.jpg");
// }


#floor-plans  {
	padding: 60px 0;
	background-color: $lighter-beige;
	.wrapper-left {
		@include span(first 3)
	}
	.wrapper-center {
		@include pre(1);
		@include span(5);
		img {
			max-width: 100%;
		}
	}
	.wrapper-right {
		@include span(last 2);
	}
	h2,p {
		margin-bottom: 30px;
	}
	h3,h4 {
		text-align: center;
	}
	a {
		text-decoration: underline;
		@include transition(.15s);
		&:hover {
			color: darken($base-font-color,10%);
		}
	}
	h3 {
		font-size: 50px;
		border-top: 1px solid $base-font-color;
		padding-top: 20px;
	}
	h4 {
		font-size: 20px;
		padding-bottom: 40px;
	}
}

#materials {
	padding: 60px 0;
	background-color: $lighter-beige;
	h2,p {
		margin-bottom: 30px;
	}
	.wrapper-left {
		@include span(3);
	}
	.wrapper-right {
		@include pre(1);
		@include span(last 8);
		.circle {
			@include gallery(2 of 12);
			position: relative;
			&.large {
				@include gallery (3 of 12);
			}
		}
		.dummy {
			margin-top: 100%;
		}
		.circle-wrapper {
			@include span(full);
			margin: 30px 0 15px;
		}
		.circle-tile {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    border-radius: 50%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    text-align: center;

		    span {
		    	text-align: center;
		    	padding: 0 5px;
		    	font-size: 12px;
			    &.white {
			    	color: white;
			    }
		    }
		}
		h4 {
			clear: left;
			clear: right;
		}
		.black-cedar {
			background-image: url("../img/black-cedar.jpg");
			background-position: center center;
			background-size: cover;
			height: 100%;
			width: 100%;
		}
		.natural-cedar {
			background-image: url("../img/natural-cedar.jpg");
			background-position: center center;
			background-size: cover;
			height: 100%;
			width: 100%;
		}
		.opaque-white {
			background-color: #dedfdf;
		}
		.campari-red {
			background-color: #a90605;
		}
		.jade-porcelain {
			background-color: #466346;
		}
		.mid-century-white {
			background-color: #d7dee2;
		}
		.pomegranate {
			background-color: #862928;
		}
		.jade-manganese {
			background-color: #004667;
		}
		.slate-gray {
			background-color: #828380;
		}
		.dark-gray {
			background-color: #797b79;
		}
		.hartford-green {
			background-color: #34524a;
		}
		.antique-black {
			background-color: #5a5854;
		}
		.matte-black {
			background-color: #232829;
		}
	}
}

#finishes {
	padding: 60px 0;
	background-color: $lighter-beige;
	.wrapper {
		@include span(4);
		&:last-of-type {
			@include pre(1);
		}
	}
	h2 {
		margin-bottom: 60px;
	}
	img, h3,li {
		margin-bottom: 20px;
	}
	h3 {
		font-size: 20px;
		font-weight: 600;
	}
	li {
		font-size: 20px;
		margin-bottom: 18px;
		line-height: 24px;
		display: block;
	}
	.finish-list {
		@include pre(2);
		@include span(4);
	}
	.premium-equipment {
		@include pre(1);
		@include span(4)
	}
}

#a-la-carte {
	padding: 60px 0;
	background-color: $lighter-beige;
	.wrapper-center {
		text-align: center;
		@include pre(2);
		@include span(8);
	}
	p {
		text-align: left;
		margin: 30px 0 60px;
	}
	ul {
		margin-top: 60px;
		@include pre(1);
		@include span(10);
	}
	li {
		@include gallery(3 of 12);
		text-align: center;
		p {
			@include pre(2);
			@include span(8);
			font-family: $headline-font;
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 18px;
			text-align: center;
		}
		img {
			display: block;
			text-align: center;
			margin: 0 auto 20px;
		}
	}
}

#gallery {
	h2 {
		text-align: center;
	}
	padding: 60px 0;
	background-color: $lighter-beige;
	.sp-wrap {
		@include pre(1);
		@include span(10);
	}
}

.sp-thumbs a:link, .sp-thumbs a:visited {
		opacity: 1;
}

.sp-wrap {
	margin: 60px auto 30px;
	background-color: transparent;
}

.sp-thumbs  {
		@include span(full);
		margin-top: 20px;
		border-top: none;
		a {
			@include gallery(1 of 10);
		}
		img {
			height: auto;
			width: 100%;
			margin-bottom: 20px;
		}
}

.sp-large a  {
	pointer-events:none;
	img {
		cursor: default;
	}
}

.sp-current:after {
	content: '';
	border: 6px solid transparent;
	border-top: 6px solid $beige;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -6px;
}
