nav {
	width: 100%;
	z-index: 1001;
	&.navbar {
		position: fixed;
		@include transition(all .5s);
		background-color: transparent;
		padding-top: 15px;
		ul {
			display: flex;
			li {
				display: inline-block;
				&:first-of-type {
					flex: 1 1 auto;
					text-align: left;
					a {
						margin-top: 15px;
						padding-top: 0;
						padding-bottom: 0;
						background-image: url("../img/hw_logo.svg");
						background-repeat: no-repeat;
						height: 47px;
						width: 99px;
					}
				}
				a {
					color: white;
					display: inline-block;
					padding: 30px 15px;
					height: 100%;
					width: 100%;
					font-size: 14px;
					color: white;
					text-transform: uppercase;
					&.current {
						color: white;
					}
				}
			}
		}

		&.stuck, &.fixed {
			background-color: $beige;
			padding-top: 0px;
			ul li:first-of-type a {
				background-image: url("../img/hw_logo_dark.svg");
			}
			ul li a {
				color: $inactive-gray;
				&.current, &:hover {
					color: $dark-gray;
				}
			}
		}

	}
}

#secondary-nav {

	ul {
		width: 100%;
		display: flex;
		justify-content: space-around;
		@include span(full);
		&#upgrades-nav {
			justify-content: center;
			li a {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		&#homes {
			justify-content: flex-start;
			li:first-of-type {
				display: none;
			}
			li a {
				margin-right: 30px;
			}
		}
		&#about {
			justify-content: center;
			align-items: center;
			align-content: center;
			li {
				text-align: center;
				align-self: center;
			}
			li a {
				padding-left:15px;
				padding-right: 15px;
				text-align: center;
			}
		}
	}
	li {
		display: inline-block;
		@include transition(.35s);
		a {
			text-transform: uppercase;
			color: $light-gray;
			font-size: 14px;
			line-height: 20px;
			display: inline-block;
			padding: 14px 0 10px;
			height: 100%;
			width: 100%;
			&:hover {
				color: white;
			}
		}

		&.active {
			border-bottom: 4px solid white;
			a {
				color: white;
				padding: 14px 0 6px;
			}
		}
	}
	background-color: $dark-gray;
	&.stuck {
		top: 74px;
	}
	#upgrades-nav a {
		// pointer-events:none;
	}
}



.anchor {
	display: block;
	position: relative;
	top: -114px;
	visibility: hidden;
}
