#header-upgrades {
	// margin-bottom: -40px;
	.animateme {
		@include pre(2);
		@include span(8);
		text-align: center;
	}
	.slick-slider {
		margin-bottom: 0;
	}
	.hero-landing {
		position: absolute;
		top: 0;
		left: 0;
	}
}

// #header-upgrades ~ div {
// 	background-color: $dark-gray;
// 	z-index: 9999;
// 	width: 100%;
// }
//
// #slideshow {
// 	width: 100%;
// 	height: 100%;
// 	z-index: 1111;
//
// }
//
// #slideshow > div {
// 	// position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// }
//
//
// .slideshow-image {
// 	background-size: cover;
// 	background-position: 50% 50%;
// }

.upgrades {

	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
	text-align: center;
	img {
		width: 100%;
	}
	a {
		display: block;
	}
	h1,h3 {
		text-transform: uppercase;
	}
	h3 {
		font-size: 32px;
		margin: 30px auto 20px;
	}
	p {
		margin-left: 20px;
		margin-right: 20px;
	}
	@include gallery (4 of 12);
}

.upgrade-entry {
	padding-top: 160px;
}
.upgrade-image {
	.sp-wrap {
		margin-top: 0;
	}
	img {
		max-width: 100%;
	}
	@include span (6);
}
.specs {
	border-top: 2px solid $dark-gray;
	border-bottom: 2px solid $dark-gray;
	padding: 20px 0;
	@include span (last 5);
	h3 {
		margin: 20px 0 10px;
	}
	ul {
		@include span(9);
		list-style-type: disc;
		li {
			font-size: 15px;
			font-weight: 500;
			margin-bottom: 10px;
			line-height: 24px;
			letter-spacing: 1px;
			margin-left: 18px;
			display: list-item;

		}
	}
}
