.slick-prev {
    left: -25px;
    &:before {
        content:'\2190';
        color: $base-font-color;
    }
}
.slick-next {
    right: -25px;
    &:before {
        content:'\2192';
        color: $base-font-color;
    }
}