<nav id="secondary-nav">
<div class="container">
  <ul id="in-the-area" class="secondary-nav">
      <li><a id="all" href="">all</a></li>
      <li><a id="sleep" href="">sleep</a></li>
      <li><a id="eat" href="">eat</a></li>
      <li><a id="sip" href="">sip</a></li>
      <li><a id="culture" href="">culture</a></li>
      <li><a id="swing" href="">swing</a></li>
      <li><a id="mind-and-body" href="">mind &amp; body</a></li>
      <li><a id="ski" href="">ski</a></li>
      <li><a id="swim" href="">swim</a></li>
      <li><a id="trails" href="">trails</a></li>
      <li><a id="pick-and-grow" href="">pick &amp; grow</a></li>
  </ul>
</div>
</nav>
