
<section id="header-in-the-area" class="hero">
{{ theme:partial src="nav" }}

<div class="slick-carousel" >
{{ heroImages }}

      <div class="hero landing" style="background-image: url( {{ image }} );">
      <div class="container scrollme">
        <div class="animateme" data-when="exit" data-from="0" data-to="0.55" data-opacity="0" data-translatey="100" style="opacity: 1; -webkit-transform: translate3d(0px, 100px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);">
    <h1>{{ headline }}</h1>
    {{ if subHeadline|not_empty }}
    <h3>{{ subHeadline }}</h3>
    {{ endif }}
        </div>

      </div>
    </div>

{{ /heroImages }}
</div>
{{ theme:partial src="nav_in-the-area" }}
</section>

<div id="map-nav-availability"></div>
<!-- <div id="map"></div> -->

<section class="area-tiles">
<div class="container">
    <div class="content">


        {{ entries:listing folder="in-the-area" sort_dir="asc" }}

        <div class="tile area {{ activity|lower|slugify }}">
            <h4>{{ activity }}</h4>
            <h2>{{ title }}</h2>
            <img src="{{ image }}" alt="">
            {{ content }}
        </div>
        {{ /entries:listing }}
    </div>
</div>
</section>

<script>
    var map = L.map('map', {
    center: [41.8817826, -74.3126807],
    zoom: 15,
    scrollWheelZoom: false
});


L.tileLayer('https://a.tiles.mapbox.com/v3/philippeio.icka506o/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
}).addTo(map);
</script>
